In [1]:
import pandas as pd
lusitania='/Users/russellsasaki/Desktop/DSI/dsi_workspace/projects/project-02/assets/lusitania.csv'
lusitania_df=pd.read_csv(lusitania)

In [2]:
df=pd.DataFrame(lusitania_df, columns=['Age'])
df.describe()

         Age
count   1308
unique   120
top       30
freq      62

In [4]:
df['months age']=df['Age'].str.replace('(\d\d-......)', '1')
df
df['real age'] = df['months age'].str.extract('(\d\d?)', expand=True)
df

       Age months age real age
0       38         38       38
1       37         37       37
2       30         30       30
3       25         25       25
4       27         27       27
5       48         48       48
6      NaN        NaN      NaN
7      NaN        NaN      NaN
8       24         24       24
9     19 ?       19 ?       19
10      57         57       57
11      50         50       50
12     NaN        NaN      NaN
13     NaN        NaN      NaN
14     NaN        NaN      NaN
15     NaN        NaN      NaN
16     NaN        NaN      NaN
17     NaN        NaN      NaN
18     NaN        NaN      NaN
19     NaN        NaN      NaN
20     NaN        NaN      NaN
21     NaN        NaN      NaN
22     NaN        NaN      NaN
23      25         25       25
24     NaN        NaN      NaN
25      56         56       56
26     NaN        NaN      NaN
27      41         41       41
28     NaN        NaN      NaN
29     NaN        NaN      NaN
...    ...        ...      ...
1931    44         44       44
1932   NaN        NaN      NaN
1933   NaN        NaN      NaN
1934   NaN        NaN      NaN
1935   NaN        NaN      NaN
1936   NaN        NaN      NaN
1937    27         27       27
1938   NaN        NaN      NaN
1939   NaN        NaN      NaN
1940   NaN        NaN      NaN
1941   NaN        NaN      NaN
1942    51         51       51
1943   NaN        NaN      NaN
1944    23         23       23
1945   NaN        NaN      NaN
1946   NaN        NaN      NaN
1947   NaN        NaN      NaN
1948   NaN        NaN      NaN
1949   NaN        NaN      NaN
1950   NaN        NaN      NaN
1951   NaN        NaN      NaN
1952   NaN        NaN      NaN
1953   NaN        NaN      NaN
1954    31         31       31
1955    35         35       35
1956   NaN        NaN      NaN
1957   NaN        NaN      NaN
1958   NaN        NaN      NaN
1959    16         16       16
1960    37         37       37

[1961 rows x 3 columns]